* {
  box-sizing: border-box;
}
$gray-color: #f2f2f2;
$margin-top: 5px;
$display: flex;
@mixin inputs {
  display: $display;
}
@mixin width {
  width: 25%;
  margin-top: $margin-top;
}
@mixin inputStyle {
  width: 75%;
  margin-top: $margin-top;
}
form {
  display: $display;
  flex-direction: column;
}
main {
  padding: 20px;
  border-radius: 5px;
  background-color: $gray-color;
  margin: 50px 50px;
  .inputs {
    @include inputs();
    .label {
      @include width();
      padding: 12px 12px 12px 0;
    }
    .input {
      @include inputStyle();
    }
  }
  .submit {
    display: flex;
    justify-content: flex-end;
  }
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: 0;
}
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .input,
  .label,
  input[type="submit"] {
    width: 100% !important;
  }
  .inputs {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
//-------------------------------styles for modal---------------------------------
body {
  position: relative;
}
.modal-window {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: -42px;
  right: 184px;
  left: -208px;
  z-index: 999;
  transition: all 0.3s;
  & > div {
    border-radius: 1em;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2em;
    background: rgb(192, 186, 186);
  }
}
.modal-close {
  border: 0;
  color: #aaa;
  line-height: 30px;
  border-radius: .8em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
  &:hover {
    color: black;
  }
}
.hidden{
  display: none;
}
// -------------------style for invalid

input[type="text"]:invalid{
border: 1px solid red !important;
}